aiokafka
fastapi
pydantic
pydantic_settings
sqlalchemy
dependency-injector
uvicorn
redis
asyncpg
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
prometheus-fastapi-instrumentator
grpcio
grpcio-tools